<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/collegeList.css">
    <title>Predict College</title>
  </head>
  <body> 

    <% colleges.forEach((college) => {  %> 
        
        <% var ctr=0 %> 
        <% college.branches.forEach( (branch) => {%> 
            <% var eligiblity = isEligible(branch, rank, category, state_of_eligibility, seat_pool, main_advanced, college.state); %> 
            <% if(typeof eligiblity != "undefined") {%> 
                <% ctr++ %> 
                <% if(ctr==1){ %> 
                    <!-- Every college should begin with its own table -->
                    <div>
                        <h1><%= college.institute_name %></h1>            
                        <table>
                            <thead>
                                <tr>
                                    <th>Branch</th>
                                    <th>Quota</th>
                                    <th>Seat Pool</th>
                                    <th>Category</th>
                                    <th>Cutoff 2019</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                <% } %>            
                <tr>
                    <td><%= branch.branch_name %></td>      
                    <td><%= eligiblity.alloted_quota %></td>   
                    <td><%= branch.seat_pool %></td>    
                    <td><%= branch.Category %></td>   
                    <td><%= eligiblity.closing_rank %></td>    
                </tr>
            <% } %> 
        <% }); %> 
        <% if(ctr>0){ %> 
                    </tbody>
                </table>
            </div>
        <% } %> 
    <% });  %> 

<%- include("./partials/footer") %> 

    